.border{
    color:royalblue;
}

    .headerText{
        
            font-size: 20px;
            font-weight: 500;
            color: darkblue;
            font-family: initial;
        }
        .cardText span{
            font-size: 15px;
            
        }